# build folder
Ksnap-engine/build/

# executable file
Ksnap-engine/Ksync

#Doxygen files
Ksnap-engine/doxygen_docs/html/
Ksnap-engine/doxygen_docs/latex/

# nvim info
Ksnap-engine/compile_commands.json

Ksnap-engine/save/
Ksnap-engine/.cache/

# skip all executable files
*.elf
